<%= form_for(personal_info) do |f| %>
  <% if personal_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(personal_info.errors.count, "error") %> prohibited this personal_info from being saved:</h2>

      <ul>
      <% personal_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :height_ft, 'Your height in feet' %>
    <%= f.number_field :height_ft %>
  </div>

  <div class="field">
    <%= f.label :Height_in, 'Your height in inches' %>
    <%= f.number_field :height_in %>
  </div>

  <div class="field">
    <%= f.label :weight, 'Your weight in pounds' %>
    <%= f.number_field :weight %>
  </div>

  <div class="field">
    <%= f.label :age, 'Your age' %>
    <%= f.number_field :age %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
