<p id="notice"><%= notice %></p>

<h1>Personal Infos</h1>

<table>
  <thead>
    <tr>
      <th>Height ft</th>
      <th>Height in</th>
      <th>Weight</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @personal_infos.each do |personal_info| %>
      <tr>
        <td><%= personal_info.height_ft %></td>
        <td><%= personal_info.height_in %></td>
        <td><%= personal_info.weight %></td>
        <td><%= personal_info.age %></td>
        <td><%= link_to 'Show', personal_info %></td>
        <td><%= link_to 'Edit', edit_personal_info_path(personal_info) %></td>
        <td><%= link_to 'Destroy', personal_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Personal Info', new_personal_info_path %>
