<p id="notice"><%= notice %></p>

<p>
  <strong>Height ft:</strong>
  <%= @personal_info.height_ft %>
</p>

<p>
  <strong>Height in:</strong>
  <%= @personal_info.height_in %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @personal_info.weight %>
</p>

<p>
  <strong>Age:</strong>
  <%= @personal_info.age %>
</p>

<%= link_to 'Edit', edit_personal_info_path(@personal_info) %> |
<!--%= link_to 'Back', personal_infos_path %-->
