<p id="notice"><%= notice %></p>

<p>
  <strong>Age:</strong>
  <%= @user_info.age %>
</p>

<p>
  <strong>Height:</strong>
  <%= @user_info.height %>
</p>

<p>
  <strong>Skill level:</strong>
  <%= @user_info.skill_level %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @user_info.weight %>
</p>

<%= link_to 'Edit', edit_user_info_path(@user_info) %> |
<%= link_to 'Back', user_infos_path %>
