<!--%= @user.name %-->
<!-- Title/Links Row -->
<br>
<div class="row">
    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Hello <%= @user.name %>!</h4>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Workout Routines</h3>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-body">
             <h4>Experience (1-5):  <%= @user.experience %></h4>
            </div>
        </div>
    </div>
</div>
<!-- Workout Routines Row 1-->
<div class="row">
    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-body">
               <img src="../assets/portfolio/Chest2.jpg" alt="Chest"/> <h4><%= link_to "Chest Workouts", :controller => "pages", :action =>"chest" %></h4>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="../assets/portfolio/Abs2.jpg" alt="Abs"/> <h4><%= link_to "Ab Workouts", :controller => "pages", :action =>"abs" %></h4>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="../assets/portfolio/Arms2.jpg" alt="Arms"/> <h4><%= link_to "Arm Workouts", :controller => "pages", :action =>"arms" %></h4>
            </div>
        </div>
    </div>
</div>
<!-- Workout Routines Row 2 -->
<div class="row">
    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-body">
               <img src="../assets/portfolio/Shoulders2.jpg" alt="Shoulders"/> <h4><%= link_to "Shoulder Workouts", :controller => "pages", :action =>"shoulders" %></h4>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="../assets/portfolio/Back2.jpg" alt="Back"/> <h4><%= link_to "Back Workouts", :controller => "pages", :action =>"back" %></h4>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-body">
               <img src="../assets/portfolio/Legs2.jpg" alt="Legs"/> <h4><%= link_to "Leg Workouts", :controller => "pages", :action =>"legs" %></h4>
               </a>
            </div>
        </div>
    </div>
</div>
<!-- Title/Links Row -->
<br>
<div class="row">
    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <a href=""><h4>Add Post</h4>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Posts</h4>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-body">
             <h6 style="font-family:cursive;">NEVER GIVE UP </h6>
            </div>
        </div>
    </div>
</div>
<!-- Posts Row -->
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <% @posts.each do |x| %>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <%= image_tag(x.image.url(:medium)) %>
                        <br>
                            <%= x.description %> 
                        <br>
                            <%= x.created_at.strftime("%B %d, %Y")%>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>

