<html>

   <head>
      <meta http-equiv = "Content-Type" content = "text/html; charset = iso-8859-1" />
      <meta http-equiv = "Content-Language" content = "en-us" />
      <title>Fitness Plus</title>
      <%= stylesheet_link_tag "Format_Welcome" %>
   </head>

   <body id = "Fitness">
      <div id = "container">
         
         <div id = "header">
            <h1>Fitness Plus is the best workout app on the web!</h1>
            <h3>Fitness Plus is tailored to meet your unique workout needs.</h3>
            <h3>Best of all, you can use Fitness Plus at no cost.</h3>
         </div>

         <div id = "sidebar">
            <h2>Links:</h2>
            <%= link_to 'About Fitness Plus', controller: 'info' %>
            <h3></h3>
            <%= link_to 'Comments and Support Help', controller: 'supports', action: 'new', id: @support %>
            <h3></h3>
            <%= link_to 'New User Signup', controller: 'signups', action: 'new', id: @signup %>
         </div>

         <div id = 'links'>
         </div>

         <div id = "content">
            <%= yield -%>
         </div>

         <div id = "image">
            <%= image_tag "workout2.jpg", size: "500x400" %>
         </div>  
         
      </div>
   </body>
   
</html>