<html>

   <head>
      <meta http-equiv = "Content-Type" content = "text/html; charset = iso-8859-1" />
      <meta http-equiv = "Content-Language" content = "en-us" />
      <title>Fitness Plus Info</title>
      <%= stylesheet_link_tag "Format_Info" %>
   </head>

   <body id = "Fitness">
      <div id = "container">
         
         <div id = "title">
            <h1>What is Fitness Plus?</h1>
         </div>
            <div id = "header">      
               <h3>Fitness Plus is designed to help create workout routines for you based on your specific needs.
               By inputting only a few simple workout and exercise preferences, Fitness Plus will generate a custom workout regimen for you. After your workout, log in the number of reps and sets you completed for each exercise and Fitness Plus will track your progress over time. Switching up your workout routine on Fitness Plus is easy too, and takes only a few seconds to accomplish. With all of these great built-in features, who wouldn't want to join Fitness Plus?</h3>
            </div>

         <div id = "sidebar">
            <h2>Links:</h2>
            <%= link_to 'Homepage', controller: 'welcome' %>
            <h3></h3>
            <%= link_to 'Comments and Support Help', controller: 'supports', action: 'new', id: @support %>
            <h3></h3>
            <%= link_to 'New User Signup', controller: 'signups', action: 'new', id: @signup %>
         </div>

         <div id = 'links'>
         </div>

         <div id = "content">
            <%= yield -%>
         </div>

         <div id = "image">
            <%= image_tag "workout3.jpg", size: "500x400" %>
         </div>  
         
      </div>
   </body>
   
</html>